src/main/resources/xsd/schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Seznam">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Kniha">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Nazev" type="xs:string" />
              <xs:element name="Autor">
                <xs:complexType>
                  <xs:attribute name="Jmeno" type="xs:string" use="required" />
                  <xs:attribute name="Prijmeni" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="ISBN" type="xs:string" use="required" />
            <xs:attribute name="Vydano" type="xs:positiveInteger" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>